#alll
{
    width:95%;
}
#tableborder /*вся таблица обернута в тег div и обрезана псредством overflow:hidden; это костыль для рамки с округлыми углами*/
{
    
    border-color: black;
    border-width: 3px;  
    border-style: solid;
    border-radius: 20px; 
    height: 480px;      
    width: 480px; 
    overflow: hidden
}
#board {
    margin: 0px;    /*костыль для границы*/
    padding: 0px;   /*костыль для границы*/
    border-color:black;
    border-width: 0px;  /*костыль для границы*/
    border-style: solid;
    border-collapse: collapse;
    border-radius: 20px; /*костыль для границы*/
}
#clockround /*общий контейнер для 12 элементов по кругу*/
{
    position: absolute;
    top: 0;
    left: 0;
}
.whitee
{
    background-color:white;
}
.blackk
{
    background-color: rgb(0,0,0);
}

.cell   /*этот класс имеют все клетки*/
{
    width:40px;
    height:40px;
    border-width: 0px;
    border-style: solid;
    margin: 0px;
    padding: 0px;
}


.whitee.active {
    background-color: rgb(255,255,150) ;
}
.blackk.active {
background-color:rgb(255,176,46);}
.clckrnd    /*класс для каждого из 12 часов*/
{
    background-color:white;
    border-width: 2px;
    border-color: black;
    border-style:solid;
    border-radius:20px;
    position:absolute;
    width: 40px;
    height: 40px;
}
#mydatasendbutton
{
    transform: translate(10px,800px);
    height: 16px;
    width: 50px;
    color:white;
    font-family: fantasy;
    font-size: 10px;
    border-width: 1px;
    border-style: solid;
    padding: 1px;
    border-radius: 5px;
    background-color: black;
    background-clip: content-box;
    
}
.animationoption
{
    border-width: 0px;
    background-color: black;
    color: antiquewhite;
}
#effectselector
{
    border-width: 2px;
    border-radius: 5px;
    font-weight: 500;
    padding: 0px;
    
    
}
#effectselectorlabel
{
    font-weight: 500;
}
#interface
{
    position: absolute;
    top:0px;
    left:0px;
    font-size: 18px;
    width:100%;
}
#colormode
{
    width:100%;
    display:flex;
}
#colormodeborderlabel
{
    color: rgb(0, 0, 0);
    font-family: fantasy;
    font-weight: 200;
    padding:10px;
    border-radius:10px;
    border-style:solid;
    border-width:0px;
    
}
#colormodeborder
{
    /*display: inline-block;*/
    height: 20px;
    width: 50px;
    border-style: solid;
    border-width: 4px;
    border-radius: 15px;
    transform:translate(5px,5px);
}
#colormodeborder.inactive
{
    background-color: #808080;
    border-radius: 15px;
    transition-property: background-color, border-color;
    transition-duration: 1s;
}


#colormodeborder.active
{
    border-color: #8080ff;
    background-color: #ff8080;
    transition-property: background-color, border-color;
    transition-duration: 1s;
    
    
}
#colormoderound
{
    height: 20px;
    width: 20px;
    border-radius: 15px;
    border-width: 0px;	
}
#colormoderound.inactive
{

    background-color: #ffffff;
    transition-property: background-color, border-color, transform;
    transition-duration: 1s;
}

#colormoderound.active
{

    transform: translate(30px,0px);
    background-color: #30ff30;
    transition-property: background-color, border-color, transform;
    transition-duration: 1s;



















/* #sqr1
{
	posistion:absolute;
	top:0px;
	left:0px;
}

#sqr2
{
	posistion:absolute;
	top:0px;
	left:0px;
}

#sqr3
{
	posistion:absolute;
	top:0px;
	left:0px;
}

#sqr4
{
	posistion:absolute;
	top:0px;
	left:0px;
}

#sqr5
{
	posistion:absolute;
	top:0px;
	left:0px;
}

#sqr6
{
	posistion:absolute;
	top:0px;
	left:0px;
}

#sqr7
{
	posistion:absolute;
	top:0px;
	left:0px;
}

#sqr8
{
	posistion:absolute;
	top:0px;
	left:0px;
}

#sqr9
{
	posistion:absolute;
	top:0px;
	left:0px;
}

#sqr10
{
	posistion:absolute;
	top:0px;
	left:0px;
}

#sqr11
{
	posistion:absolute;
	top:0px;
	left:0px;
}

#sqr12
{
	posistion:absolute;
	top:0px;
	left:0px;
} */
